<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.studiest">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:requestLegacyExternalStorage="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Studiest"
        android:usesCleartextTraffic="true"
        android:windowSoftInputMode="adjustPan"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity
            android:name=".anexoReader"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".pdfReader"
            android:exported="false" />
        <activity
            android:name=".calendario"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adicionar_resumo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".adicionar_item"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".auxiliares_academicos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".resumos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".anexo_documentos"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".estudos"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".deletar_conta"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".alterar_senha"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".perfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".tela_principal"
            android:exported="false"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".verificar_email"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".recuperar_senha"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".cadastrar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".entrar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bemvindo"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>